{%- if settings.eid_sale_enabled -%}
<div id="plaay-eid-countdown" class="plaay-eid-countdown" aria-live="off">
  <span class="plaay-eid-countdown__label">⏰ Sale ends in</span>
  <span class="plaay-eid-countdown__timer" id="plaay-eid-timer">--:--:--</span>
</div>
{%- endif -%}
