<div
  class="canvas_container h-[900px] w-[900px]">
  <div
    id="canvas"></div>
</div>


{% style %}
  .canvas_container {
    background: url('https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg');
  }

  #canvas {
    background: url('http://www.topscratchcards.com/images/games/888ladies/scratchcard-winning-ticket.jpg');

    width: 900px;
    height: 900px;
  }
{% endstyle %}